
.staffDetailContainer {
    border: 1px #D9D9D9 solid;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 750px;
}

.staffDescriptionContainer {
    display: flex;
    justify-content: space-between;
}

.staffDescriptionContainer > img {
    max-width: 400px;
}

.role {
    font-weight: bold;
    color: cornflowerblue;
}